.table th {
    background-color:#405393;
    color: white;
    border: 1px solid #848484;
}

.dataTables_paginate {
    float: right !important;
    text-align: right !important;
}

.fadein-top {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeInFromAbove 1s ease-out forwards;
}

@keyframes fadeInFromAbove {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.popup-btn {
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.popup-btn:hover {
  transform: scale(1.05);
}

.bootstrap-dialog .modal-dialog {
  margin: 1.75rem auto;
}

.bootstrap-dialog .modal-content {
  border-radius: .5rem;
}

.bootstrap-dialog .bootstrap-dialog-title {
  font-size: 1.25rem;
  font-weight: 500;
}

.bootstrap-dialog .modal-header {
  border-bottom: 1px solid #dee2e6;
}

.bootstrap-dialog .modal-footer {
  border-top: 1px solid #dee2e6;
}